*, *::before, *::after { 
    box-sizing: border-box;
}

@font-face{
    font-family: dafont;
    src: url(recipes/fonts/ChibaScript.ttf);
}
.title{
    padding: 40px;
    text-align: center;
    font-size: 90px;
    margin-top:100px;
    font-family: dafont;
}

.recipes{
    text-align: center;
    
}

.orderecp{
    margin-right: auto;
    text-align: center;
    margin-bottom:50px;
}

@keyframes uppertxt{
    0%{
        left: 100%;
    }

    100%{
        left: -100%;
    }
}

.mvtext{
    position:relative;
    animation: move-words linear;
    animation-duration: 10s;
    animation-name: uppertxt;
    animation-iteration-count: infinite;

}

