div {
    font-family: 'Courier New', monospace;
    font-size: 70px;
    text-align:center;
    font-weight:bold;
}

body {
    color:rgb(255, 123, 0);
    
}

button{
    font-size:25px;
    text-align:inherit;
    background-color:rgb(241, 177, 116)
}

/**{
    background-color: rgb(255, 245, 224)
}s*/